In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from  google.colab import files
uploaded=files.upload()

Saving churn-bigml-80.csv to churn-bigml-80.csv

In [ ]:
df = pd.read_csv('churn-bigml-80.csv')
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [ ]:
df.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False

In [ ]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
df['State'].unique().shape

(51,)

In [ ]:
print(type(df['State']))

<class 'pandas.core.series.Series'>

In [ ]:
df[df['State']== 'KS']

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
145,KS,70,408,No,No,0,232.1,122,39.46,292.3,112,24.85,201.2,112,9.05,0.0,0,0.00,3,False
231,KS,137,408,No,No,0,205.9,88,35.00,209.3,86,17.79,289.9,84,13.05,14.5,4,3.92,2,False
299,KS,132,415,No,No,0,83.4,110,14.18,232.2,137,19.74,146.7,114,6.60,7.6,5,2.05,1,False
308,KS,127,415,No,No,0,221.0,100,37.57,160.7,113,13.66,233.1,96,10.49,6.8,4,1.84,2,False
314,KS,137,415,No,No,0,230.2,113,39.13,220.4,79,18.73,204.7,111,9.21,10.7,7,2.89,4,False
348,KS,46,510,No,No,0,250.3,100,42.55,260.6,90,22.15,195.0,104,8.78,13.3,2,3.59,2,True
365,KS,86,408,No,Yes,23,225.5,107,38.34,246.3,105,20.94,245.7,81,11.06,9.8,2,2.65,0,False
407,KS,143,408,No,Yes,24,186.6,69,31.72,222.0,116,18.87,234.9,138,10.57,11.6,5,3.13,1,False
493,KS,110,415,Yes,No,0,293.3,79,49.86,188.5,90,16.02,266.9,91,12.01,14.5,4,3.92,0,True
494,KS,163,415,No,No,0,191.3,89,32.52,193.9,87,16.48,268.4,121,12.08,12.8,4,3.46,1,False
550,KS,99,415,No,No,0,191.2,110,32.50,163.9,102,13.93,243.6,114,10.96,14.1,3,3.81,1,False
579,KS,68,510,No,No,0,159.5,123,27.12,240.8,93,20.47,210.3,76,9.46,11.4,3,3.08,1,False
616,KS,103,408,Yes,No,0,62.8,124,10.68,170.4,66,14.48,280.2,78,12.61,9.4,4,2.54,3,False
672,KS,149,510,No,No,0,217.7,91,37.01,273.5,74,23.25,226.9,99,10.21,9.6,3,2.59,3,False
782,KS,110,415,Yes,Yes,27,267.9,103,45.54,263.3,74,22.38,178.1,106,8.01,8.3,2,2.24,1,True
814,KS,70,415,No,No,0,222.8,114,37.88,215.9,113,18.35,223.5,122,10.06,0.0,0,0.00,1,False
826,KS,124,415,No,No,0,158.6,104,26.96,211.2,77,17.95,179.3,104,8.07,10.2,8,2.75,3,False
844,KS,117,510,No,Yes,25,216.0,140,36.72,224.1,69,19.05,267.9,112,12.06,11.8,4,3.19,0,False
872,KS,52,415,No,No,0,165.5,78,28.14,205.5,89,17.47,213.6,124,9.61,12.2,6,3.29,0,False
908,KS,167,415,No,No,0,131.6,120,22.37,211.3,96,17.96,168.3,97,7.57,11.1,4,3.00,4,True
919,KS,130,510,No,No,0,154.0,95,26.18,205.9,106,17.50,233.7,75,10.52,12.9,1,3.48,1,False
958,KS,131,415,No,Yes,28,249.6,87,42.43,227.2,138,19.31,239.9,92,10.80,7.6,3,2.05,3,False
959,KS,36,510,No,No,0,178.6,83,30.36,213.1,103,18.11,198.0,119,8.91,10.9,5,2.94,1,False
965,KS,124,510,No,Yes,37,161.2,109,27.40,204.2,79,17.36,231.5,87,10.42,8.9,4,2.40,1,False
969,KS,24,510,No,No,0,243.0,91,41.31,183.9,77,15.63,184.3,109,8.29,15.3,6,4.13,0,True
1002,KS,87,510,No,No,0,115.4,90,19.62,262.6,68,22.32,245.7,69,11.06,13.1,5,3.54,2,False
1049,KS,126,408,No,No,0,321.3,99,54.62,167.9,93,14.27,193.6,106,8.71,8.0,4,2.16,1,True
1286,KS,117,415,No,No,0,184.8,83,31.42,248.6,101,21.13,133.1,113,5.99,9.6,8,2.59,1,False
1331,KS,123,415,No,No,0,163.1,119,27.73,249.4,51,21.20,168.2,77,7.57,9.0,10,2.43,1,False
1465,KS,101,510,No,Yes,25,144.1,144,24.50,167.6,105,14.25,240.0,107,10.80,14.5,3,3.92,1,False
1585,KS,93,415,No,No,0,266.0,120,45.22,130.1,84,11.06,165.8,63,7.46,13.1,6,3.54,3,False
1614,KS,57,415,No,Yes,37,201.2,76,34.20,280.1,122,23.81,154.2,110,6.94,11.8,1,3.19,1,False
1673,KS,94,510,No,Yes,28,233.2,88,39.64,113.3,102,9.63,118.0,71,5.31,16.1,4,4.35,0,False
1698,KS,43,415,No,No,0,27.0,117,4.59,160.9,97,13.68,279.5,96,12.58,10.7,3,2.89,3,False
1730,KS,132,415,No,No,0,190.1,105,32.32,182.2,116,15.49,279.8,105,12.59,13.0,2,3.51,1,False
1734,KS,119,415,No,No,0,231.5,82,39.36,266.9,97,22.69,211.0,118,9.49,7.4,10,2.00,1,False
1744,KS,47,510,Yes,No,0,47.8,120,8.13,178.9,123,15.21,152.6,96,6.87,13.3,7,3.59,0,True
1799,KS,128,510,No,No,0,268.1,95,45.58,120.5,126,10.24,220.8,121,9.94,14.4,6,3.89,2,False
1806,KS,148,510,No,No,0,239.3,84,40.68,195.7,85,16.63,232.6,104,10.47,10.9,3,2.94,1,False
1883,KS,67,510,No,No,0,129.0,78,21.93,188.0,116,15.98,235.0,102,10.58,11.2,3,3.02,2,False
2063,KS,110,510,No,No,0,208.0,69,35.36,95.1,94,8.08,178.5,129,8.03,8.0,11,2.16,1,False
2125,KS,91,408,Yes,No,0,246.4,110,41.89,182.0,98,15.47,157.6,106,7.09,12.1,2,3.27,2,True
2167,KS,79,415,No,No,0,177.9,83,30.24,167.3,84,14.22,223.7,142,10.07,15.2,8,4.10,0,False
2221,KS,123,415,No,No,0,140.0,106,23.80,153.7,101,13.06,50.1,87,2.25,12.5,1,3.38,2,False
2317,KS,107,415,No,No,0,260.5,108,44.29,102.4,110,8.70,129.7,148,5.84,9.8,5,2.65,1,False
2357,KS,68,415,No,No,0,207.6,68,35.29,251.6,123,21.39,191.6,100,8.62,10.9,6,2.94,2,False
2367,KS,137,415,No,Yes,19,175.3,96,29.80,241.3,146,20.51,211.4,109,9.51,7.8,2,2.11,0,False
2391,KS,84,415,No,No,0,225.9,86,38.40,275.6,105,23.43,201.4,108,9.06,14.3,3,3.86,3,True
2394,KS,73,408,No,No,0,194.8,112,33.12,167.2,85,14.21,100.3,61,4.51,10.8,6,2.92,1,False
2579,KS,164,510,No,Yes,30,238.8,100,40.60,230.0,121,19.55,206.3,66,9.28,13.2,8,3.56,1,False
2628,KS,170,415,No,Yes,42,199.5,119,33.92,135.0,90,11.48,184.6,49,8.31,10.9,3,2.94,4,True

In [ ]:
df[(df['State']== 'KS') & (df['International plan']== 'Yes')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
493,KS,110,415,Yes,No,0,293.3,79,49.86,188.5,90,16.02,266.9,91,12.01,14.5,4,3.92,0,True
616,KS,103,408,Yes,No,0,62.8,124,10.68,170.4,66,14.48,280.2,78,12.61,9.4,4,2.54,3,False
782,KS,110,415,Yes,Yes,27,267.9,103,45.54,263.3,74,22.38,178.1,106,8.01,8.3,2,2.24,1,True
1744,KS,47,510,Yes,No,0,47.8,120,8.13,178.9,123,15.21,152.6,96,6.87,13.3,7,3.59,0,True
2125,KS,91,408,Yes,No,0,246.4,110,41.89,182.0,98,15.47,157.6,106,7.09,12.1,2,3.27,2,True

In [ ]:
df_ks = df[(df['State']== 'KS') & (df['International plan']== 'Yes')]

In [ ]:
df_ks.shape

(5, 20)

In [ ]:
df.groupby(by='State')['Total day minutes'].sum()

State
AK     7745.7
AL    12432.6
AR     8210.7
AZ     7818.7
CA     4338.8
CO    10591.3
CT    10282.6
DC     7548.2
DE     8850.3
FL     9643.2
GA     9137.9
HI     7598.8
IA     6924.4
ID     9768.6
IL     7648.3
IN    10634.2
KS    10201.3
KY     7544.0
LA     6006.2
MA     9192.6
MD    11916.9
ME     8940.4
MI    10384.5
MN    12572.6
MO     8675.1
MS     8325.5
MT     9196.8
NC    10387.6
ND     8194.4
NE     8026.0
NH     7633.5
NJ     9954.3
NM     7642.1
NV    10842.8
NY    11742.7
OH    12189.5
OK     9360.0
OR    10563.3
PA     7063.6
RI     8365.0
SC     7963.9
SD     9378.8
TN     7496.7
TX     9956.7
UT    11014.1
VA    11997.9
VT    10437.5
WA     8422.2
WI    10722.3
WV    15137.1
WY    11875.8
Name: Total day minutes, dtype: float64

In [ ]:
df.groupby(by='State')['Total intl minutes'].sum()

State
AK    435.8
AL    672.8
AR    492.5
AZ    477.7
CA    243.6
CO    576.9
CT    587.0
DC    485.2
DE    527.9
FL    536.7
GA    507.5
HI    443.3
IA    370.4
ID    580.8
IL    463.0
IN    527.9
KS    566.9
KY    466.6
LA    320.2
MA    519.3
MD    644.4
ME    487.9
MI    611.9
MN    729.3
MO    522.0
MS    501.0
MT    566.9
NC    560.2
ND    410.7
NE    482.8
NH    448.7
NJ    561.2
NM    447.0
NV    614.9
NY    694.7
OH    680.3
OK    549.5
OR    652.3
PA    375.2
RI    484.8
SC    482.1
SD    482.6
TN    427.6
TX    582.2
UT    598.6
VA    707.8
VT    574.6
WA    466.2
WI    587.7
WV    872.3
WY    682.5
Name: Total intl minutes, dtype: float64

In [ ]:
df['Total calls']=df['Total intl calls']+df['Total night calls']+df['Total day calls']
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,204
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,229
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,223
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,167
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,...,16.12,221.4,128,9.96,11.8,5,3.19,2,False,231
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,False,166
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,False,184
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,False,206
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,False,194

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.7,1,False,204
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.7,1,False,229

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df['Area code']=df['Area code'].astype(str)
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,204
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,229
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,223
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,167
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,...,16.12,221.4,128,9.96,11.8,5,3.19,2,False,231
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,False,166
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,False,184
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,False,206
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,False,194

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.info

<bound method DataFrame.info of      State  Account length Area code International plan Voice mail plan  \
0       KS             128       415                 No             Yes
1       OH             107       415                 No             Yes
2       NJ             137       415                 No              No
3       OH              84       408                Yes              No
4       OK              75       415                Yes              No
...    ...             ...       ...                ...             ...
2661    SC              79       415                 No              No
2662    AZ             192       415                 No             Yes
2663    WV              68       415                 No              No
2664    RI              28       510                 No              No
2665    TN              74       415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
0                        25              265.1              110
1                        26              161.6              123
2                         0              243.4              114
3                         0              299.4               71
4                         0              166.7              113
...                     ...                ...              ...
2661                      0              134.7               98
2662                     36              156.2               77
2663                      0              231.1               57
2664                      0              180.8              109
2665                     25              234.4              113

      Total day charge  Total eve minutes  ...  Total eve charge  \
0                45.07              197.4  ...             16.78
1                27.47              195.5  ...             16.62
2                41.38              121.2  ...             10.30
3                50.90               61.9  ...              5.26
4                28.34              148.3  ...             12.61
...                ...                ...  ...               ...
2661             22.90              189.7  ...             16.12
2662             26.55              215.5  ...             18.32
2663             39.29              153.4  ...             13.04
2664             30.74              288.8  ...             24.55
2665             39.85              265.9  ...             22.60

      Total night minutes  Total night calls  Total night charge  \
0                   244.7                 91               11.01
1                   254.4                103               11.45
2                   162.6                104                7.32
3                   196.9                 89                8.86
4                   186.9                121                8.41
...                   ...                ...                 ...
2661                221.4                128                9.96
2662                279.1                 83               12.56
2663                191.3                123                8.61
2664                191.9                 91                8.64
2665                241.4                 77               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
0                   10.0                 3               2.70
1                   13.7                 3               3.70
2                   12.2                 5               3.29
3                    6.6                 7               1.78
4                   10.1                 3               2.73
...                  ...               ...                ...
2661                11.8                 5               3.19
2662                 9.9                 6               2.67
2663                 9.6                 4               2.59
2664                14.1                 6               3.81
2665                13.7                 4               3.70

      Customer service calls  Churn  Total calls
0                          1  False          204
1                          1  False          229
2                          0  False          223
3                          2  False          167
4                          3  False          237
...                      ...    ...          ...
2661                       2  False          231
2662                       2  False          166
2663                       3  False          184
2664                       2  False          206
2665                       0  False          194

[2666 rows x 21 columns]>

In [ ]:
a = '100'

In [ ]:
b=int(a)