Name : Tirth Rank

Roll No. : C225

SAP ID : 70532100052

Program : B.Tech AIML

```
# This is formatted as code
```

In [ ]:
#C225_TIRTH_RANK

from statistics import mean 

a = [10000,20000,30000,40000,50000,60000,70000,80000,90000,100000]
list_avg = mean(a)

print("Average value of the list:\n") 
print(list_avg)

Average value of the list:

55000

In [ ]:
#C225_TIRTH_RANK

import statistics

set1 =[100,150,200,250,300,350,400,450,500]

print("Mode of given data set is % s" % (statistics.mode(set1)))

Mode of given data set is 100

In [ ]:
#C225_TIRTH_RANK

import statistics

print(statistics.median([-200, -150, -100, -50, 0, 50, 100]))

-50

In [ ]:
#C225_TIRTH_RANK

from statistics import mean 

a = [6,7,10,12,13,4,8,12]
list_avg = mean(a)

print("Average value of the list:\n") 
print(list_avg)

Average value of the list:

9

WITHOUT FUNCTIONS :

In [ ]:
#C225_TIRTH_RANK
#MEAN

def mean(sample):
    return sum(sample) / len(sample)

mean([6,7,10,12,13,4,8,12])

9.0

In [ ]:
#C225_TIRTH_RANK
#MEDIAN

def median(sample):
    n = len(sample)
    a = n // 2
    if n % 2:
        return (sample)[a]
    return sum((sample)[a - 1:a + 1]) / 2

median([6,7,10,12,13,4,8])

12

In [ ]:
#C225_TIRTH_RANK
def mode(sample)
    n = len(sample)